flask = "*"
flask-restful = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-mail = "*"
python-dotenv = "*"
itsdangerous = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
gunicorn = "*"
Werkzeug = "*"
